@import "globals";

.heading {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 700;
  font-size: 2.25rem;
  text-align: center;

  @include media(">=phone", "<=tablet") {
    font-size: 1.5rem;
  }
}

.top {
  padding-top: 40px;
}

.topAnimated {
  padding-top: 40px;
  animation-name: goToTop;
  animation-duration: 1s;
}

.centre {
  @include media(">=phone", "<=tablet") {
    margin-top: 50%;
  }
  @include media(">=tablet") {
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@keyframes goToTop {
  0% {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    position: absolute;
    top: 0;
  }
}

.searchBox {
  width: 380px !important;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  min-height: 80px;
  font-size: 2rem !important;
  font-weight: 700;

  @include media(">=phone", "<=tablet") {
    font-size: 1.35rem !important;
    min-height: 50px;
    width: 220px !important;
    margin-right: 4px;
    margin-left: 4px;
    display: block;
  }
}
